img[data-icon-name="icon-small-right"] {
  transform: scale(2); /* Set the desired height */
}

.columns > div {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.columns > div > div {
  display: flex;
  flex-direction: column;
  background-color: #f2f2f8;
  order: 1;
  flex: 1;
  padding: 24px;
}

.columns > div > .columns-img-col {
  order: -1;
}

.columns > div > .columns-img-col img {
  display: block;
}

.columns-container .button-container {
  margin-top: auto;
}

@media (min-width: 900px) {
  .columns > div {
    flex-direction: row;
    width:100%;
    gap: 32px;
  }
}