footer {
  padding-top: 100px;
  padding-bottom: 0px;
  background-color:var(--text-color);
  color:white;
}

footer .footer {
  max-width: 1200px;
  margin: auto;
}

footer .footer .icon-logo-footer {
  padding-bottom: 10px;
  width: 100px;
  height: auto;
}

footer .footer p {
  margin: 0;
}

footer .footer a:hover {
  color: white;
  text-decoration: underline;
}

/* taken from h6 styling */
footer .footer strong, footer .footer strong a {
  display: inline-block;
  font-weight: 600;
  font-size: var(--heading-font-size-xs);
  letter-spacing: -0.24px;
  line-height: 24px;
  padding-bottom: 4px;
 }
 
 footer .footer.block{
   display:flex;
 }

 footer .section:first-child{
 width:33.3333%;
 }

 footer .section{
  width: 16.667%;
  box-sizing: border-box;
  float:left;
  padding-bottom: 100px;
  padding-right: 70px;
 }

 footer .section:last-child {
  width:100%;
  align-items: center;
  border-top:  1px solid #686a70;
  padding: 40px 0px;
 }

 footer .section:last-child .default-content-wrapper {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-areas: 
    "div1 div3"
    "div2 div3";
}
/*
 footer .section:last-child .default-content-wrapper {
  display: grid;
  grid-template-columns: auto auto;
 }*/

@media screen and (max-width:900px){
  footer .section{
    width:100%;
   }
  footer .section:last-child{
    border-top:  1px solid white;
  }
  footer .section:first-child{
    width:100%;
  }
}

/* social media links */

footer .section:last-child p:last-child{
  grid-area: div3;
  justify-self: end;
  float: right;
  display: flex;
  gap: 12px;
}